@use '../../_settings/mixins.scss';
@use '../../_settings/functions.scss';
@import '../../_settings/_variables';

/* Common */
.listItem {
    &:first-letter {
        color: functions.nested-map-get($colors, primary, primary_light);
    }
}

/* Size */
.small {
    padding: 10px;
    font-size: 14px;
}

.medium {
    padding: 15px;
    font-size: 16px;
}

.large {
    padding: 20px;
    font-size: 18px;
}

/* Theme */
.light, .dark a {
    @include mixins.colors('primary_dark', ('color'));
}

.dark, .dark a {
    @include mixins.colors('primary_light', ('color'));
}

a:hover {
    @include mixins.colors('error_light', ('color'));
}
