.text-size {
    display: flex;
}

.text-size p {
    margin: 0 1px;
    width: 40px;
    text-align: center;
}

.text-size button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    transition: .2s all ease;
    opacity: .8;
}

.text-size button:focus {
    outline: none;
}

.text-size button:hover {
    opacity: 1;
}

.text-size button.dec {
    background: #e73030;
    padding-top: 2px;
    padding-right: 5px;
}

.text-size button.inc {
    padding-top: 1px;
    background: #21e01a;
}