/*
* Colors
*/
$atenttion: #2196f3;
$brand: #2995c0;
$error: #d92525;
$grey-1: #474747;
$grey-2: #919191;
$grey-3: #dadada;
$grey-4: #ededed;
$success: #2a7e2e;
$wait: #fff8dd;
$color-type-body: $grey-1;

/*
* Fonts
*/
$base-font-family: sans-serif;
$base-font-lineheight: 1.5em;
$headers-font-family: serif;
