/*
* Colors
*/
$attention: #2196f3;
$brand: #2995c0;
$error: #d92525;
$grey-1: #474747;
$grey-2: #919191;
$grey-3: #dadada;
$grey-4: #ededed;
$success: #2a7e2e;
$wait: #fff8dd;
$white: #fff;
$dark: #000;
$color-type-body: $grey-1;

/*
* Shadows
*/
$shadow-1: $dark 0 1px 3px;
$shadow-2: lighten($dark, 25%) 0 1px 3px;
$shadow-3: lighten($dark, 50%) 0 1px 3px;
$shadow-4: lighten($dark, 75%) 0 1px 3px;

/*
* Fonts
*/
$base-font-family: sans-serif;
$base-font-lineheight: 1.5em;
$base-font-size: 1.5em;
$headers-font-family: serif;
