@import './_variables.scss';

.--brand:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $brand;
}

.--grey-1:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $grey-1;
}

.--grey-2:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $grey-2;
}

.--grey-3:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $grey-3;
}

.--grey-4:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $grey-4;
}

.--color-type-body:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $grey-2;
}

.--success:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $success;
}

.--atenttion:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $atenttion;
}

.--wait:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $wait;
}

.--error:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: $error;
}

.--base-font-family {
    font-family: $base-font-family;
}

.--headers-font-family {
    font-family: $headers-font-family;
}
