@use '../../_settings/mixins.scss';

.small {
    font-size: 0.85rem;
}

.medium {
    font-size: 1rem;
}

.large {
    font-size: 1.2rem;
}

.light {
    @include mixins.colors('primary_dark');
}

.dark {
    @include mixins.colors('primary_light');
}