@use '../../_settings/mixins.scss';

.small {
    font-size: 13px;
}

.medium {
    font-size: 16px;
}

.large {
    font-size: 20px;
}

.light {
    @include mixins.colors('primary_dark');
}

.dark {
    @include mixins.colors('primary_light');
}