.unorderedList {
    list-style-type: none;
    padding: 0;
}

.unorderedList span {
    font-size: 1rem;
}

.unorderedList.dotted {
    list-style-type: disc;
}

.unorderedList.horizontal {
    display: flex;
}
