@import '../../_settings/_variables';

/* Size */
.small {
    padding: 5px;
    font-size: $base-font-size / 1.5;
}

.medium {
    padding: 10px;
    font-size: $base-font-size;
}

.large {
    padding: 15px;
    font-size: $base-font-size * 1.5;
}

/* Theme */
.light {
    color: $dark;
}

.dark {
    color: $white;
}