@use '../../_settings/mixins.scss';
@use '../../_settings//functions.scss';
@import '../../_settings/variables';

.header {
    align-items: center;
    border-bottom: 1px solid functions.nested-map-get($colors, greys, grey-1);
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 20px;
}

.settingsIcon {
    cursor: pointer;
}

.light {
    @include mixins.colors('primary_dark', ('color'));
}

.light.tip {
    @include mixins.colors('background_grey', ('background'));
}

.dark {
    @include mixins.colors('primary_light', ('color'));
}

.dark.tip {
    @include mixins.colors('primary_dark', ('background-color'));
}
