@import '../../_settings/variables';

.header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.themeToggler {
    align-items: center;
    display: flex;
}

.light {
    background-color: $white;
    border-bottom: 1px solid $grey-3;
}
