@use '../../_settings/mixins.scss';
@use '../../_settings/functions.scss' as f;
@import '../../_settings/_variables';

$padding_v: 8;
$padding_h: 12;
$font_size: 14;
$icon_width: 20;
$icon_margin_left: 5;

/* Common */
.button {
    align-items: center;
    border: none;
    box-shadow: $shadow-5;
    cursor: pointer;
    display: flex;
    outline: none;
    transition: all 0.5s ease;

    &:hover {
        box-shadow: $shadow-4;
    }
}

/* Size */
.small {
    padding: #{$padding_v}px #{$padding_h}px;
    font-size: 14px;

    svg {
        width: #{$padding_h}px;
        margin-left: #{$padding_h / 4}px;
    }
}

.medium {
    padding: f.increaseTo($padding_v, 1.5) f.increaseTo($padding_h, 1.5);
    font-size: f.increaseTo($font-size, 1.2);

    svg {
        width: f.increaseTo($padding_h, 1.5);
        margin-left: f.decreaseTo($padding_h, 1.5);
    }
}

.large {
    padding: f.increaseTo($padding_v, 2) f.increaseTo($padding_h, 2);
    font-size: f.increaseTo($font-size, 1.4);

    svg {
        width: f.increaseTo($padding_h, 2);
        margin-left: #{$padding_h}px;
    }
}

/* Types */
.rounded {
    border-radius: 3px;
}

.straight {
    border-radius: 0;
}

/* Theme */
.light.primary {
    @include mixins.colors('primary_light') using ($hoverColor) {
        &:hover {
            background-color: $hoverColor;
        }
    };
}

.dark.primary {
    @include mixins.colors('primary_dark') using ($hoverColor) {
        &:hover {
            background-color: $hoverColor;
        }
    };;
}

.light.secondary {
    @include mixins.colors('secondary_light') using ($hoverColor) {
        &:hover {
            background-color: $hoverColor;
        }
    };;
}

.dark.secondary {
    @include mixins.colors('secondary_dark') using ($hoverColor) {
        &:hover {
            background-color: $hoverColor;
        }
    };;
}
