.slider {
    width: 300px !important;
}

.valueLabel {
    transform: scale(0.7) translateY(-10px) !important;
}

.sliderItem {
    height: 70px;
    overflow: initial !important;

    &:hover, &:active {
        background: none !important;
    }
}
