@import '../../_settings/_variables';

.button {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    display: block;
    font-family: $base-font-family;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

/* Size */
.small {
    padding: 0.5em 0.6em;
}

.medium {
    padding: 1.1em 1.3em;
}

.large {
    padding: 1.7em 2.4em;
}

/* Theme */
.default {
    color: #fff;
    background: $brand;
    border: 1px solid $brand;
}

.rounded {
    color: $brand;
    background: #fff;
    border: 1px solid $brand;
    transition: all 0.3s ease;

    &:hover {
        color: #fff;
        background: $brand;
    }
}

/* Disabled */
.disabled {
    color: $grey-2;
    background: color($grey-4 tint(40%));
    border-color: $grey-4;
    cursor: default;
}
