@use '../../_settings/mixins.scss' as f;

.enter {
    opacity: 0;
    transform: scale(0.5);
}

.exit {
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transform: scale(1);
    width: 100%;
} 

// default is set to five
@for $i from 1 through 5 {
    .enterActive-#{$i} {
        opacity: 1;
        transform: scale(1);
    }

    .forward-#{$i} {
        @include f.forwardTransition(0.5 * $i);
    }

    .default-#{$i} {
        @include f.defaultTransition(0.5 * $i);
    }

    .burst-#{$i} {
        @include f.burstTransition(0.5 * $i);
    }
    
    .exitActive-#{$i} {
        opacity: 0;
        transform: scale(0.5);
    }
}

.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 100%;
}

.toggleElement {
    margin: 0 15px;
    width: 100%;
}