@use './functions.scss';
@import './_variables.scss';

.colors {
    display: flex;
    align-items: center;
}

%color {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 0.5em;
}

.--primary:before {
    @extend %color;
    background-color: functions.nested-map-get($colors, primary, primary_light);
}

.--secondary:before {
    @extend %color;
    background-color: functions.nested-map-get($colors, secondary, secondary_light);
}

.--success:before {
    @extend %color;
    background-color: functions.nested-map-get($colors, success, success_light);
}

.--error:before {
    @extend %color;
    background-color: functions.nested-map-get($colors, error, error_light);
}

.--base-font-family {
    font-family: $base-font-family;
}

.--headers-font-family {
    font-family: $headers-font-family;
}
